* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    color: #fff;
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    padding-left: 16px;
    background-color: #F44336;
}

header .fa-chevron-left {
    margin-right: 16px;
    cursor: pointer;
}

.container {
    /*  margin: 20px 50px;*/
}

input[type="text"] {
    width: 100%;
    margin: 0 13px;
    height: 27px;
    background: #fff;
}

.todo {
    display: flex;
    justify-content: space-between;
}

.buscador {
    padding: 10px 10px;
    background: #F44336;
}

#map {
    height: 40vh;
    width: 100vw;
}

.div-map {
    display: flex;
    justify-content: center;
}

.mapIcon {
    color: gray;
    font-size: 30px;
}

.col.s8.offset-s1.producto {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.producto-detail {
    width: 45px;
    height: 25px;
    /* background: #2C6; */
}

.icon-buscar {
    height: 27px;
    background: #fff;
}

.col.s11.input-buscar {
    padding-left: 0px;
    position: relative;
    left: -13px;
}
